<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			content="width=device-width, initial-scale=1"
			name="viewport" />
		<link
			href="/static/styles.css"
			rel="stylesheet"
			type="text/css" />
		<title>View</title>
	</head>
	<body>
		<h3
			class="py-2 pl-2 mt-0 mb-2 font-sans font-bold text-2xl md:text-3xl dark:text-gray-200 border-teal-400 border-l-6">
			{{.Title}}
		</h3>

		<div class="flex flex-col w-96 px-4 pl-2">
			{{if .Pages}}
			<ul class="mb-4">
				{{range .Pages}}
				<li>
					<a
						class="flex items-center w-full py-2 my-0.5 text-blue-500 hover:text-blue-700 hover:bg-blue-50"
						href="/view/{{.}}">
						<span class="w-0.5 h-6 mr-2 ml-4 bg-blue-500"></span>
						{{.}}
					</a>
				</li>
				{{end}}
			</ul>
			{{else}}
			<h4 class="inline-block self-center mt-8 mb-4 font-semibold text-amber-800">There are no wiki.</h4>
			{{end}}

			<p class="self-center">
				Create
				<input
					autofocus
					class="py-2 mx-2 font-semibold text-center bg-gray-100"
					id="wiki-name"
					onkeyup="checkWikiName()"
					type="text" />
				wiki.
			</p>
			<p
				class="mt-2 text-red-500 text-center select-none"
				id="wiki-error">
				&nbsp;
			</p>

			<a
				class="max-w-3/8 self-end px-4 py-2 mt-2 font-semibold text-white text-center pointer-events-none cursor-default select-none bg-gray-700/50 border-transparent border rounded focus:outline-none focus:ring"
				href="#"
				id="wiki-link">
				create
			</a>
		</div>

		<script type="text/javascript">
			const pages = {{.Pages}}
			const name = document.querySelector("#wiki-name")
			const error = document.querySelector("#wiki-error")
			const link = document.querySelector("#wiki-link")
			let isValid = false
			let msg = "\u00a0"

			function checkWikiName() {
				isValid = false
				msg = "\u00a0"

				if (name.value.length > 0) {
					switch (name.value) {
						case "frontpage": {
							msg = '"frontpage" cannot be used as wiki name'
							break
						}
						default: {
							switch (true) {
								case pages.includes(name.value): {
									msg = "wiki name taken"
									break
								}
								case name.value.includes(" "): {
									msg = "cannot contain spaces"
									break
								}
								case name.value.includes("\t"): {
									msg = "cannot contain tabs"
									break
								}
								case name.value.startsWith("-"): {
									msg = "cannot start with a dash/hyphen"
									break
								}
								case name.value.endsWith("-"): {
									msg = "cannot end with a dash/hyphen"
									break
								}
								case name.value.startsWith("."): {
									msg = "cannot start with a dot"
									break
								}
								case name.value.endsWith("."): {
									msg = "cannot end with a dot"
									break
								}
								default: {
									isValid = true
								}
							}
						}
					}
				}

				error.textContent = msg

				if (!isValid) {
					link.setAttribute(
						"class",
						"max-w-3/8 self-end px-4 py-2 mt-2 font-semibold text-white text-center pointer-events-none cursor-default select-none bg-gray-700/50 border-transparent border rounded focus:outline-none focus:ring",
					)
					link.setAttribute("href", "#")

					return
				}

				link.setAttribute(
					"class",
					"max-w-3/8 self-end px-4 py-2 mt-2 font-semibold text-white text-center cursor-pointer select-none bg-indigo-700 hover:bg-indigo-800 active:bg-indigo-700 border-transparent border rounded focus:outline-none focus:ring",
				)
				link.setAttribute("href", `/edit/${name.value}`)

				return
			}
		</script>
	</body>
</html>
